body {
  background: linear-gradient(to bottom, #000, #9CA2AB 3%);
}

* {
  margin: 0;
  padding: 0;
}

.highlight-name {
  color: #e724e7;
  font-weight: bold;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 20px;
}

.header-buttons {
  display: flex;
  justify-content: center;
}

.header-button {
  padding: 10px 10px;
  border-radius: 5px;
  margin-right: 120px;
  cursor: pointer;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin: 0 140px;
}

nav a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e724de;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

nav a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

nav a:hover {
  color: #e724de;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* HOME PAGE */

.home-page {
  width: 100%;
display: flex;
flex-direction: column;
}

.home-page-one {
  width: 100%;
  height: 500px;
  margin-top: 60px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.home-page-two {
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 40px;
  width: 1850px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.home-page-image {
  width: 401px;
  height: 534px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-text {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  font-size: 36px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
    background: linear-gradient(to right, #9CA2AB, #e724e7, #9CA2AB);
      padding: 10px 60px;
      text-align: center;
}

.p1 {
  font-size: 21px;
  margin-top: 20px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ABOUT US*/

.p2 {
  line-height: 1.5;
  font-size: 21px;
  margin-top: 40px;
  margin-right: 10px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-us {
  width: 100%;
  height: 700px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.about-us-text {
  width: 70%;
}

.about-us-photo {
  width: 470;
  height: 640;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* WHAT ARE WE DOING */

.what-are-we-doing {
  height: 550px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.what-are-we-doing-photo {
  width: 220px;
  height: 486px;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p3 {
  line-height: 2;
  font-size: 21px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 20px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p4 {
  line-height: 2;
  font-size: 21px;
  margin-top: -20px;
  margin-right: 40px;
  margin-left: 20px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CONTACTS */ 

.contacts {
  margin-top: 30px;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.left-right-sides {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-side {
  width: 50%;
  text-align: center;
}

.sm-logo {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
}

.sm-link {
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: blue;
  font-size: 20px;
  transition: all 0.3s;
}

.sm-link:hover {
  color: #e724e7;
  text-decoration: underline;
}

.right-side {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: -10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  text-align: center;
  width: 50%;
  height: 100%;
  color: black;
  line-height: 2;
}

h2 {
  text-shadow: 0 0 2px #000;
  margin-bottom: 20px;
  color: #e724e7;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
  text-shadow: 0 0 2px #000;
  margin-bottom: 20px;
  color: #e724e7;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*  HOW YOU CAN HELP US*/

.hychu-info {
  width: 100%;
  height: 600px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #ff0000;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  20% {
    color: #ff7f00;
  }
  40% {
    color: #ffff00;
    /* third color */
  }
  60% {
    color: #00ff00;
    /* fourth color */
  }
  80% {
    color: #00ffff;
    /* fifth color */
  }
  100% {
    color: #ff00ff;
    /* sixth color */
  }
}

.p5{
  line-height: 2;
  font-size: 21px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

/* FOOTER */
footer{
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}